body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-body {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Content/Background_Picture.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.1);
    z-index: -1;
}

.profile-picture-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.profile-picture {
    max-width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.profile-ring {
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 50%;
    background: linear-gradient(
        magenta,
        cyan
    );
    animation: rotate-ring 10s linear infinite;
}

.social-links {
    width: auto;
}

.social-icon-wrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.social-icon {
    margin: 0 10px;
    max-width: 48px;
}

.social-link {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 4rem;
    background: radial-gradient(circle at center, transparent, rgba(89, 18, 140, 0.2));
}

.social-link-youtube:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 4rem;
    background: linear-gradient(to right, #59128c, #e20606);
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
            mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }

  .social-link-instagram:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 4rem;
    background: linear-gradient(to right, #59128c, #f8a710);
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
            mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }

  .social-link-twitter:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 4rem;
    background: linear-gradient(to right, #59128c, #00b9ff);
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
            mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }


.social-link-link {
    text-decoration: none;
    margin-bottom: 1000px;
}

.social-link-text {
    font-size: 2rem;
    margin-left: 10px;
    font-weight: bold;
    padding-right: 10px;
}

.text-youtube {
    background: -webkit-linear-gradient(0deg, #59128c 0%, #e20606 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text-instagram {
    background: -webkit-linear-gradient(0deg, #59128c 0%, #f8a710 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text-twitter {
    background: -webkit-linear-gradient(0deg, #59128c 0%, #00b9ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 0.8rem;
}

@keyframes rotate-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}