.carousel-container {
    max-width: 800px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.2s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    object-fit: contain;
    text-align: center;
}

.carousel-item a {
    display: block;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.caption {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
}