################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nipaanda.github.io/config/applicationhost.config
/.vs/Nipaanda.github.io/FileContentIndex
/.vs/Nipaanda.github.io/v17
/.vs
