<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
    <link rel="stylesheet" href="/CSS/particles.css">
    <script src="/JS/navbar.js"></script>
    <script src="/JS/particles.js"></script>
    <title>{{ page.title }}</title>
    <meta name="description" content="Personal website of Nipaanda | Colin Theimer. Feel free to look around.">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
    <div class="background-image"></div>
    <div id="particles"></div>

    <div class="topnav" id="myTopnav">
        <a href="/index.html">Home</a>
        <a href="/favmusic.html">music i like</a>
        <div class="dropdown">
            <button class="dropbtn">random things
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/blog/">
                    <span>life stuff</span>
                </a>
                <a href="/reviews/">
                    <span>opinions no one asked for</span>
                </a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">links
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="https://www.youtube.com/@Nipaanda" target="_blank">
                    <div class="social-wrapper">
                        <img src="/Content/Icon_Youtube.png" alt="YouTube" class="social-icon">
                        <span>YouTube - Main</span>
                    </div>
                </a>
                <a href="https://www.youtube.com/@Nipoondo" target="_blank">
                    <div class="social-wrapper">
                        <img src="/Content/Icon_Youtube.png" alt="YouTube" class="social-icon">
                        <span>YouTube - Secondary</span>
                    </div>
                </a>
                <a href="https://www.instagram.com/Nipaanda" target="_blank">
                    <div class="social-wrapper">
                        <img src="/Content/Icon_Instagram.png" alt="Instagram" class="social-icon">
                        <span>Instagram</span>
                    </div>
                </a>
                <a href="https://bsky.app/profile/nipaanda.bsky.social" target="_blank">
                    <div class="social-wrapper">
                        <img src="/Content/Icon_Bluesky.png" alt="Bluesky" class="social-icon">
                        <span>Bluesky</span>
                    </div>
                </a>
            </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="ToggleNav()">&#9776;</a>
    </div>

    <main class="main-body">
        <article>
            <h2>{{ page.title }}</h2>
            <p style="margin-bottom: 10px;"><small>Posted on {{ page.date | date: "%B %d, %Y" }}</small></p>
            <div class="post-content">
              {{ content }}
            </div>
          </article>
    </main>
</body>

</html>